* {
  all: unset;
}

@define-color base0 #292a30;
@define-color base1 #2f3037;
@define-color base2 #393b44;
@define-color accent #ff7ab2;

window {
  font-family: "UbuntuNerdFont";
  background: @base0;
}

.mainBox {
  background: @base2;
}

.cover {
  min-width: 240px;
  min-height: 240px;
  border-radius: 6px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.coverBox {
  background: @base1;
}

.coverBox > frame {
  margin: 4em 2em;
}

.controls {
  padding: 1em 2em;
  background: @base2;
}

.controls > button {
  transition: color 0.25s ease;
}

.controls > button:active {
  color: @accent;
}

.on {
  color: @accent;
}

.controls > drawing-area {
  font-family: "UbuntuNerdFont";
}

vte-terminal {
  font-family: "UbuntuMonoNerdFont";
  font-size: 12px;
  padding: 4em 2em 2em;
}

scale {
  min-height: 3px;
}

scale trough {
  background: alpha(@accent, 0.5);
}

scale highlight {
  min-height: 6px;
  background: @accent;
}
